<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="push">
    <div class="drawer-wrapper">
      <div class="logo-block">
        <img src="assets/images/logo.png" alt="">
        报销计算器
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="title-wrapper">
      <button class="switch-icon" mat-icon-button (click)="drawer.toggle()">
        <mat-icon [ngClass]="{'opened': drawerStatus}" class="drawer-icon">list</mat-icon>
      </button>
      <h3>{{ title }}</h3>
    </div>
    <div class="content-wrapper">
      111
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
