@import "variables";
@import "mixins";

  .drawer-container {
    height: 100%;
    background-color: transparent;

    mat-drawer {
      background-color: $normalBGC;
      width: 75vw;
      max-width: 300px;
      padding: $sidePadding;
      .drawer-wrapper {
        padding: 5px;
        border-radius: $blockBorderRadius;
        background-color: #fff;
        .logo-block {
          display: flex;
          align-items: center;
          font-size: $mainTitleFSZ;
          color: $emphasisText;
          font-family: STKaiti, "Kaiti SC", "Kaiti TC", serif;
          img {
            @include square(50px);
            margin-right: 10px;
          }
        }
      }
    }
    mat-drawer-content {
      padding: $sidePadding;
      .title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: $contentGap;
        .switch-icon {
          margin-right: $contentGap;
          .drawer-icon {
            color: #fff;
          }
        }
        h3 {
          color: #fff;
        }
      }

      .content-wrapper {
        border-radius: $blockBorderRadius;
        padding: 10px;
        background-color: $normalBGC;
      }
    }


  }
