@import "variables";
@import "mixins";

  .drawer-container {
    height: 100%;
    background-color: transparent;

    mat-drawer {
      background-color: $normalBGC;
      width: 70vw;
      max-width: 300px;
      padding: $sidePadding;
      .drawer-wrapper {
        @mixin side-item {
          padding: 5px;
          border-radius: $blockBorderRadius;
          margin-bottom: $contentGap;
          background-color: #fff;
        }
        .logo-block {
          @include side-item;
          display: flex;
          align-items: center;
          font-size: $mainTitleFSZ;
          color: $emphasisText;
          font-family: STKaiti, "Kaiti SC", "Kaiti TC", serif;
          img {
            @include square(50px);
            margin-right: $contentGap;
          }
        }
        mat-action-list {
          @include side-item;
        }
      }
    }
    mat-drawer-content {
      padding: $sidePadding;
      .title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: $contentGap;
        .switch-icon {
          margin-right: $contentGap;
          .drawer-icon {
            color: #fff;
          }
        }
        h3 {
          color: #fff;
        }
      }

      .content-wrapper {
        border-radius: $blockBorderRadius;
        padding: $sidePadding;
        background-color: $normalBGC;
      }
    }


  }
