@import "variables";
body {
  color: $contentText;
  font-family: "Songti SC", "Songti TC", serif;
  background: linear-gradient(160deg, $themeColor, $subThemeColor);
}
h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}
