@import '~@angular/material/theming';

$themeColor: map-get($mat-indigo, 200);
$subThemeColor: map-get($mat-indigo, 900);

$normalBGC: #f0f0f0;
$contentBGC: #fdfdfd;

// content border margin padding
$blockBorderRadius: 5px;
$sidePadding: 10px;
$contentGap: 10px;

// font color
$emphasisText: #333;
$contentText: #666;
$hintText: #999;

// font size
$mainTitleFSZ: 18pt;
$subTitleFSZ: 16pt;
$contentFSZ: 14pt;
$hintFSZ: 12pt
