<div class="web-container">
  <div class="main-wrapper">
    <div class="logo-block">
      <img [src]="logoPath" alt="">
      {{ appName }}
    </div>
    <nav mat-tab-nav-bar >
      <a mat-tab-link
         routerLinkActive
         #mtl="routerLinkActive"
         *ngFor="let route of routes"
         [routerLink]="route.path"
         [active]="mtl.isActive"
        >
        {{ route.label }}
      </a>
    </nav>
    <router-outlet></router-outlet>
    <button mat-fab [matMenuTriggerFor]="menu" >
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" yPosition="above">
      <button mat-menu-item>item 1</button>
      <button mat-menu-item>2</button>
      <button mat-menu-item>3</button>
    </mat-menu>
  </div>
</div>
