<div class="web-container">
  <div class="main-wrapper">
    <div class="logo-block">
      <img [src]="logoPath" alt="">
      {{ appName }}
    </div>
    <nav mat-tab-nav-bar >
      <a mat-tab-link
         routerLinkActive
         #mtl="routerLinkActive"
         *ngFor="let route of routes"
         [routerLink]="route.path"
         [active]="mtl.isActive"
        >
        {{ route.label }}
      </a>
    </nav>
    <router-outlet></router-outlet>
    <button mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
